:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --dark-accent-color: #E9829F;
   
    --link-color: #fff;
    --link-color-hover: #E9829F;

    --text-color: #000000;
    --alt-text-color: #ffffff;
    --header-text-color: #ffffff;
    
    --background-color: #ffffff;
    --header-background-color: #E9829F;

    --test-color: yellow;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    width: calc(100vw - 10px);

    font-family: 'Roboto', sans-serif;

    overflow-x: hidden;
}

/* Header */

header {
    min-width:  914px;
    width: 100%;

    background-color: var(--header-background-color);

    color: var(--header-text-color);
    font-weight: bold;
    font-size: 1.1rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 1.5rem;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 180px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 45px;
    padding-inline: 10rem;
    background-color: var(--secondary-color);

}

.logo img{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 150px;
    background-color: var( --secondary-color);
    border-radius: 50%;
}

.highlight-bar ul{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10rem;
    padding-block: 0.5rem;

    font-weight: normal;
    font-size: 0.95rem;
    color: var(--alt-text-color);
    
    background-color: var(--secondary-color);
}

/* Body */
section {
    display: flex;
    flex-direction: column;

    background-color: var(--primary-color);
}

ul {
    list-style-type: none;
}

a {
    color: var(--alt-text-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: none;
}

/* Hero Section */
.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 4rem;
    padding-inline: 12rem;
}

.section-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    padding: 1rem;
    width: 50%;
}

.section-text-content p {
    font-size: 1.5rem;
}

.hero-cta-button {
    width: 15rem;    
    padding-block: 1rem;
    padding-inline: 2rem;
    background-color: var(--dark-accent-color);
    border-radius: 10px;
    border: none;

    font-size: 1.5rem;
    font-weight: bold;
    color: var(--header-text-color);

    
    transition: all 0.5s;
}

.hero-cta-button:hover {
    background-color: var(--secondary-color);

    transform: scale(1.1);
    transition: all 0.5s;
}

.hero-section .review-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
}

.hero-section .review-rating p {
    font-size: 1rem;
    font-weight: bold;
    padding-block: 0.5rem;
}

.hero-section .review-img {
    width: 10rem;
}

.hero-section-img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
}

.hero-section-img-content img {
    width: 25rem;
    height: 25rem;
    border-radius: 100%;
    border: var(--secondary-color) 0.5rem solid;
    object-fit: cover;
}

/* Best Sellers Section */

.best-sellers-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-inline: 10rem;
    padding-block: 4rem;
}

.best-sellers-content h2 {
    text-align: center;

    color: var(--dark-accent-color);
}

/* Hightlight Section */

.highlight-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-inline: 4rem;
}

.hightlight-table td {
    padding-inline: 1rem;
}

.highlight-content h2 {
    text-align: center;
}

.highlight-content h3 {
    text-align: center;
    color: var(--dark-accent-color);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.image-row img {
    width: 20rem;
    height: 20rem;
}

.title-row h3 {
    text-align: center;
    max-width: 25rem;
}

.title-row {
    align-items: center;
}

.description-row p {
    text-align: center;
    font-weight: bold;

    max-width: 20rem;
}

/* Reviews Section */

.reviews-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    padding-block: 5rem;
    padding-inline: 12rem;
}

.reviews-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: fit-content;
    min-width: 500px;
}

.reviews-img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--dark-accent-color);
    border-radius: 20px;
    padding: 0.5rem;
}

.reviews-text-content h2 {
    text-align: left;
}

.reviews-section img {
    width: 10rem;
}

.reviews-cta-button {
    width: 15rem;    
    padding-block: 1rem;
    padding-inline: 2rem;
    background-color: var(--dark-accent-color);
    border-radius: 10px;
    border: none;

    font-size: 1.5rem;
    font-weight: bold;
    color: var(--header-text-color);
    
    transition: all 0.5s;
}

.reviews-cta-button:hover {
    background-color: var(--secondary-color);

    transform: scale(1.1);
    transition: all 0.5s;
}

.reviews-img-content img {
    width: 20rem;
    height: 25rem;
    border-radius: 20px;
    object-fit: cover;
}

/* Socials Section */

.socials-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-inline: 10rem;
    padding-block: 4rem;
}

/* Newsletter Section */

.newsletter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-inline: 10rem;
    padding-block: 4rem;
    background-color: var( --header-background-color);

    color: var(--header-text-color);
}

.newsletter-content p {
    text-align: center;
    width: 75%;
}

.newsletter-content form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    
}

.newsletter-content form input {
    width: 20rem;
    height: 2.5rem;
    margin-block: 1rem;
    padding-inline: 0.5rem;
    
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: var(--background-color) 1px solid;
}

.newsletter-content form button {
    height: 2.5rem;
    padding-inline: 2rem;

    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    color: var(--header-text-color);
    font-weight: bold;

    border: var(--background-color) 1px solid;
    background-color: var(--secondary-color);

    transition: all 0.5s;
}

.newsletter-content form button:hover {
    background-color: var(--background-color);
    color: var(--text-color);

    transition: all 0.5s;
}

/* Footer */

footer {
    width: 100%;
    min-width: 900px;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10rem;
    padding-block: 0.5rem;
    background-color: var(--secondary-color);

    color: var(--header-text-color);
}

footer span a{
    color: var(--link-color);
}

.whitespace {
    width: 15rem;
    height: 2rem;
}

.sitemap {
    display: flex;
    justify-content: space-between;
    padding-inline: 10rem;
    padding-block: 1.25rem;
    background-color: var(--secondary-color);

    color: var(--header-text-color);
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--header-background-color);
    border-radius: 5px;
}